@model IEnumerable<Department>
@{
	ViewBag.Title = "Departments List";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
	<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
	<a href="/department/create" class="btn btn-primary">Create</a>
	<table class=" table table-bordered table-striped table-hover">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Capacity</th>
			</tr>
		</thead>
		<tbody>
			@if(Model.Count()==0)
			{
				<tr>
					<td colspan="3"> No Department exist </td>
				</tr>
			}
			else
			{
				foreach (var item in Model)
				{
					<tr>
						<td>@item.Id</td>
						<td>@item.Name</td>
						<td>@item.Capacity</td>
						<td>
							<a asp-action="Details" asp-controller="Department" asp-route-id="@item.Id" class= "btn btn-primary" >Details</a>
							<a asp-action="Edit" asp-controller="Department" asp-route-id="@item.Id" class=  "btn btn-primary">Edit</a>
							<a onclick="return confirm('Are you sure you want to delete ?')" asp-action="Delete" asp-controller="Department" asp-route-id="@item.Id" class= " btn btn-danger">Delete</a>

						</td>
					</tr>
				}
			}
			
		</tbody>


    </table>
</body>
</html>
